body {
    display: block;
    background-color: azure;
}
.background {
    display: inline-block;
    font-size: 1em;
    padding: 1.5em;
    position: absolute;
    height: 2em;
    width: 2em;
    color: black;
    box-sizing: border-box;
}